


.simple-blog-header  {
    
    font-size: 2em;
    text-align: center;
    background-color: cornflowerblue;
}

.simple-blog-header a  {
    color: black;
    margin: 20px;
}

body{
    padding:0;
    margin: 0;
    font-family: sans-serif;
}
.page_link{
    display: inline-block;
    color: #222;
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
    cursor: pointer;
}
.active_page{
    background-color:dodgerblue;
    color: #FFF;
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
}
.container{
    border: 5px solid #ccc;
    padding: 10px;
}
.posts{
    margin: 0;
    list-style: none;
    padding: 0;
}
.posts li{
    padding:10px 5px;
    margin: 0;
    border-bottom: 1px solid #ddd;
    
}
h2{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding:10px 10px 0 10px;
    color: #444;
}